button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    width: 75px;
    background-color: darkgreen;
    font-weight: bold;
}

img {
    height: 200px;
    width: 200px;
}

.price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.disclaimers {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}