button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    width: 125px;
    background-color: darkgreen;
    font-weight: bold;
}

img {
    height: 200px;
    width: 200px;
}

.price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.disclaimers {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    padding: 300px;
    padding-top: 0px;
}

.row {
    justify-content: center;
    background-color: steelblue;
}

.game {
    margin: 5px;
}

.disclaimers {
    background-color: forestgreen;
}